<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.jtsys.dao.SysLogDao">
		<select id="getRowCount" resultType="int">
				select count(*) from sys_logs
          <where>
            <if test="username!=null and username!=''">
               username like concat("%",#{username},"%")
            </if>
          </where>
		</select>
		<select id="findPageObjects" resultType="com.cy.pj.jtsys.entity.SysLog">
				select * from sys_logs
				<where>
            <if test="username!=null and username!=''">
               username like concat("%",#{username},"%")
            </if>
          </where>
          order by createdTime desc
         limit #{startIndex},#{pageSize} 
		</select>
		<delete id="deleteObjects">
       delete from sys_logs
       <choose>
         <when test="ids!=null and ids.length>0">
           <where>
              <foreach collection="ids"
                       item="id"
                       separator="or">
                  id=#{id}
              </foreach>
           </where>
         </when>
         <otherwise>
          where id=-1
         </otherwise>
       </choose>
    </delete>
    <insert id="insert">
    	insert into sys_logs (username,operation,method,params,time,ip,createdTime) values (#{username},#{operation},#{method},#{params},#{time},#{ip},#{createdTime})
    </insert>
	</mapper>
